<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
        <li><a href="{{ site.baseurl }}/blog//blog.html">Blog</a></li>
        <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>© {{ site.year }} {{ site.author }}</p>
  </footer>
</body>
</html>